<div class="container">
    <div class="row mb-5">
        <div class="col-md">
            <div class="ftco-footer-widget mb-4">
                <h2 class="ftco-footer-logo"><img src="images/logo.jpg" width=100px" />IT<span>solution</span></h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                    the blind texts.</p>
                <ul class="ftco-footer-social list-unstyled mt-2">
                    <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
                    <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
                    <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
                <h2 class="ftco-heading-2">Explore</h2>
                <ul class="list-unstyled">
                    <li><a href="about.html" class="py-2 d-block">About</a></li>
                    <li><a href="contact.html" class="py-2 d-block">Contact</a></li>
                    <li><a href="services.html" class="py-2 d-block">What We Do</a></li>
                    <li><a href="#" class="py-2 d-block">Plans &amp; Pricing</a></li>
                    <li><a href="#" class="py-2 d-block">Refund Policy</a></li>
                    <li><a href="tel:+923354242525" class="py-2 d-block">Call Us</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md">
            <div class="ftco-footer-widget mb-4">
                <h2 class="ftco-heading-2">Legal</h2>
                <ul class="list-unstyled">
                    <li><a href="#" class="py-2 d-block">Join Us</a></li>
                    <li><a href="blog.html" class="py-2 d-block">Blog</a></li>
                    <li><a href="#" class="py-2 d-block">Privacy &amp; Policy</a></li>
                    <li><a href="#" class="py-2 d-block">Terms &amp; Conditions</a></li>
                    <li><a href="#" class="py-2 d-block">Careers</a></li>
                    <li><a href="mailto:info@paptech.edu.pk" class="py-2 d-block">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md">
            <div class="ftco-footer-widget mb-4">
                <h2 class="ftco-heading-2">Have a Questions?</h2>
                <div class="block-23 mb-3">
                    <ul>
                        <li><span class="icon fa fa-map marker"></span><span class="text">48-Climaxabad Opposite Rachna
                                Pearl Hotel Near Aspire College G.T Road Gujranwala , Gujranwala, Pakistan</span></li>
                        <li><a href="tel:+923354242525"><span class="icon fa fa-phone"></span><span class="text">+92 335
                                    4242525</span></a></li>
                        <li><a href="mailto:info@paptech.edu.pk"><span class="icon fa fa-paper-plane pr-4"></span><span
                                    class="text">info@paptech.edu.pk</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> | All rights reserved
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>
    </div>
</div>