<div class="wrap">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-md d-flex align-items-center">
                <p class="mb-0 phone"><span class="mailus">Phone no:</span> <a href="tel:+923354242525">+92 335
                        4242525</a> or <span class="mailus">email us:</span> <a
                        href="mailto:info@paptech.edu.pk">info@paptech.edu.pk</a></p>
            </div>
            <div class="col-12 col-md d-flex justify-content-md-end">
                <div class="social-media">
                    <p class="mb-0 d-flex">
                        <a href="#" class="d-flex align-items-center justify-content-center"><span
                                class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
                        <a href="#" class="d-flex align-items-center justify-content-center"><span
                                class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
                        <a href="#" class="d-flex align-items-center justify-content-center"><span
                                class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
                        <a href="#" class="d-flex align-items-center justify-content-center"><span
                                class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="index.html"><img src="images/logo.jpg" width="100px" />IT
            <span>solution</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
                <li class="nav-item"><a href="services.html" class="nav-link">Services</a></li>
                <li class="nav-item"><a href="cases.html" class="nav-link">Case Study</a></li>
                <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
                <li class="nav-item"><a href="contact.html" class="nav-link">Contact us</a></li>
                <li class="nav-item cta"><a href="#" class="nav-link">Free Consultation</a></li>

            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->

<div class="hero-wrap js-fullheight" style="background-image: url('images/bg_1.jpg');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true">
            <div class="col-md-8 ftco-animate mt-5 pt-md-5" data-scrollax=" properties: { translateY: '70%' }">
                <div class="row">
                    <div class="col-md-7">
                        <p class="mb-4 pl-md-5 line" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">A
                            small river named Duden flows by their place and supplies</p>
                    </div>
                </div>
                <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Experienced for
                    <br>Every Kinds of ITSolution</h1>
                <p><a href="services.html" class="btn btn-primary px-4 py-3">Read more</a></p>
            </div>
        </div>
    </div>
</div>

<section class="ftco-intro">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-7">
                <div class="row no-gutters d-flex align-items-stretch">
                    <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                        <div class="services-1">
                            <div class="line"></div>
                            <div class="icon"><span class="flaticon-bolt"></span></div>
                            <div class="media-body">
                                <h3 class="heading mb-3">Information Technology Consultancy</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                        <div class="services-1 color-1">
                            <div class="line"></div>
                            <div class="icon"><span class="flaticon-light-bulb"></span></div>
                            <div class="media-body">
                                <h3 class="heading mb-3">Product Design Strategy</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                        <div class="services-1 color-2">
                            <div class="line"></div>
                            <div class="icon"><span class="flaticon-cyber"></span></div>
                            <div class="media-body">
                                <h3 class="heading mb-3">Cyber Security &amp; Web Development</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>